@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-brand-light text-brand-dark antialiased;
}

::selection {
  background: #f58220;
  color: #fff;
}
